 ## Given a list of integers, [1, 2, 3, 4, 5], write a list comprehension that returns a new list where each number is squared, cubed and another one as power of itself.

In [6]:
numbers = [1, 2, 3, 4, 5]
result = [(n**2, n**3, n**n) for n in numbers]
print(result)

[(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]

## Write a list comprehension that filters out only the even numbers from the list [10, 15, 20, 25, 30, 35].

In [9]:
numbers = [10, 15, 20, 25, 30, 35]
even_numbers = [n for n in numbers if n % 2 == 0]
print(even_numbers)

[10, 20, 30]

## Write a list comprehenion/for loop that retuns every 4th vlaue in  range of 1 to 100

In [12]:
fourth_values = []
for n in range(1, 101, 4):  # Step by 4 to get every 4th value
    fourth_values.append(n)

print(fourth_values)

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

## You have a list of strings, ["apple", "banana", "cherry"]. Write a list comprehension that converts each string to uppercase.

In [15]:
fruits = ["apple", "banana", "cherry"]
uppercase_fruits = [fruit.upper() for fruit in fruits]
print(uppercase_fruits)

['APPLE', 'BANANA', 'CHERRY']

## Now create a dictionary comprehension  to output the fruit as key and length of each character in the fruit as value

In [18]:
fruits = ["apple", "banana", "cherry"]
fruit_lengths = {fruit: len(fruit) for fruit in fruits}
print(fruit_lengths)

{'apple': 5, 'banana': 6, 'cherry': 6}

## Given a list of numbers [1, 2, 3, 4, 5, 6], write a single list comprehension that returns: "even" for each even number, and"odd" for each odd number.

In [21]:
numbers = [1, 2, 3, 4, 5, 6]
even_odd = ["even" if n % 2 == 0 else "odd" for n in numbers]
print(even_odd)

['odd', 'even', 'odd', 'even', 'odd', 'even']

## Suppose you have a list of words like ["John", "Jane", "Erick", "Benard", "Comprehension"]. Write a list comprehension that extracts the first letter from each word.

In [24]:
words = ["John", "Jane", "Erick", "Benard", "Comprehension"]
first_letters = [word[0] for word in words]
print(first_letters)

['J', 'J', 'E', 'B', 'C']

## Save the outputs as dictionary using dictionary comprehension to show the name of each individual as key and first charatcer as value

In [27]:
words = ["John", "Jane", "Erick", "Benard", "Comprehension"]
name_first_letter = {word: word[0] for word in words}
print(name_first_letter)

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## Convert the outputs of number 1 to 5b as functions and test them

In [30]:
def power_transform(numbers):
    return [(n**2, n**3, n**n) for n in numbers]


print(power_transform([1, 2, 3, 4, 5]))

[(1, 1, 1), (4, 8, 4), (9, 27, 27), (16, 64, 256), (25, 125, 3125)]

In [32]:
def filter_even(numbers):
    return [n for n in numbers if n % 2 == 0]

print(filter_even([10, 15, 20, 25, 30, 35]))

[10, 20, 30]

In [34]:
def every_fourth(start=1, end=100):
    return [n for n in range(start, end + 1, 4)]

print(every_fourth(1, 100))

[1, 5, 9, 13, 17, 21, 25, 29, 33, 37, 41, 45, 49, 53, 57, 61, 65, 69, 73, 77, 81, 85, 89, 93, 97]

In [36]:
def to_uppercase(words):
    return [word.upper() for word in words]

print(to_uppercase(["apple", "banana", "cherry"]))

['APPLE', 'BANANA', 'CHERRY']

In [38]:
def word_length_dict(words):
    return {word: len(word) for word in words}

print(word_length_dict(["apple", "banana", "cherry"]))

{'apple': 5, 'banana': 6, 'cherry': 6}

In [40]:
def even_odd_label(numbers):
    return ["even" if n % 2 == 0 else "odd" for n in numbers]

print(even_odd_label([1, 2, 3, 4, 5, 6]))

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [42]:
def name_first_letter_dict(names):
    return {name: name[0] for name in names}

print(name_first_letter_dict(["John", "Jane", "Erick", "Benard", "Comprehension"]))

{'John': 'J', 'Jane': 'J', 'Erick': 'E', 'Benard': 'B', 'Comprehension': 'C'}

## Using a lists and dictionary of your choice, create  a dictionary containing 4 lists (full name, age, wight, location, gender) of 10 students.

In [45]:
students_data = {
    "full_name": [
        "John Doe", "Jane Smith", "Michael Brown", "Emily Davis", "Daniel Wilson",
        "Sophia Johnson", "James Lee", "Olivia Martinez", "William Anderson", "Emma Thomas"
    ],
    "age": [18, 19, 20, 21, 18, 22, 19, 20, 21, 22],
    "weight": [65, 55, 70, 60, 75, 50, 68, 58, 72, 55],  # In kg
    "location": [
        "Nairobi", "Mombasa", "Kisumu", "Nakuru", "Eldoret",
        "Thika", "Malindi", "Nyeri", "Meru", "Kitale"
    ],
    "gender": ["Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"]
}

print(students_data)

{'full_name': ['John Doe', 'Jane Smith', 'Michael Brown', 'Emily Davis', 'Daniel Wilson', 'Sophia Johnson', 'James Lee', 'Olivia Martinez', 'William Anderson', 'Emma Thomas'], 'age': [18, 19, 20, 21, 18, 22, 19, 20, 21, 22], 'weight': [65, 55, 70, 60, 75, 50, 68, 58, 72, 55], 'location': ['Nairobi', 'Mombasa', 'Kisumu', 'Nakuru', 'Eldoret', 'Thika', 'Malindi', 'Nyeri', 'Meru', 'Kitale'], 'gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female']}

## Convert the output of number six above into pandas dataframes

In [48]:
import pandas as pd

students_data = {
    "full_name": [
        "John Doe", "Jane Smith", "Michael Brown", "Emily Davis", "Daniel Wilson",
        "Sophia Johnson", "James Lee", "Olivia Martinez", "William Anderson", "Emma Thomas"
    ],
    "age": [18, 19, 20, 21, 18, 22, 19, 20, 21, 22],
    "weight": [65, 55, 70, 60, 75, 50, 68, 58, 72, 55],  # In kg
    "location": [
        "Nairobi", "Mombasa", "Kisumu", "Nakuru", "Eldoret",
        "Thika", "Malindi", "Nyeri", "Meru", "Kitale"
    ],
    "gender": ["Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female"]
}

students_df = pd.DataFrame(students_data)


print(students_df)

          full_name  age  weight location  gender
0          John Doe   18      65  Nairobi    Male
1        Jane Smith   19      55  Mombasa  Female
2     Michael Brown   20      70   Kisumu    Male
3       Emily Davis   21      60   Nakuru  Female
4     Daniel Wilson   18      75  Eldoret    Male
5    Sophia Johnson   22      50    Thika  Female
6         James Lee   19      68  Malindi    Male
7   Olivia Martinez   20      58    Nyeri  Female
8  William Anderson   21      72     Meru    Male
9       Emma Thomas   22      55   Kitale  Female

## Now create a new dictionary of key as name of students in number six and value as gender of students using dictionary comprehensions

In [52]:
name_gender_dict = {students_data["full_name"][i]: students_data["gender"][i] for i in range(len(students_data["full_name"]))}

print(name_gender_dict)

{'John Doe': 'Male', 'Jane Smith': 'Female', 'Michael Brown': 'Male', 'Emily Davis': 'Female', 'Daniel Wilson': 'Male', 'Sophia Johnson': 'Female', 'James Lee': 'Male', 'Olivia Martinez': 'Female', 'William Anderson': 'Male', 'Emma Thomas': 'Female'}

In [ ]:
##-